<%- include("layouts/header") %>
  <%- include("layouts/sidebar") %>
    <div class="content-body">
      <!-- row -->
      <div class="container-fluid">
        <div class="row">
          <h4>Hello Admin</h4>
        </div>
      </div>
    </div>
    <%- include("layouts/footer") %>